.button {
  display: inline-block;
  height: 49px;
  padding: 0 3vw;
  border: 1px solid #000;
  border-radius: 0;
  background-color: transparent;
  color: #231f20;
  line-height: 49px;
  font-family: "Brandon Grotesque",sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  transition-property: all;
  transition-duration: .3s;
  -webkit-appearance: none;

  &:hover {
    background-color: #231f20;
    color: #fff;
  }

  &:focus {
    color: #231f20;
    background-color: transparent;
  }
}

.selector {
  display: inline-block;
  max-width: 300px;
  outline: none;
  height: 49px;
  padding: 0 3vw;
  border: 1px solid #000;
  border-radius: 0;
  background: transparent url("../arrow.png") no-repeat 98% center;
  background-size: 20px 20px;
  color: #231f20;
  line-height: 49px;
  font-family: "Brandon Grotesque",sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  transition-property: all;
  transition-duration: .3s;
  -webkit-appearance: none;

  option {
    outline: none;
    border: 1px solid #000;
  }
}

.add-to-cart {
  max-width: 300px;
  height: 100%;
  max-height: 70px;
  margin-top: 30px;
  padding: 10px 50px;
  line-height: 30px;
}