.minicart {
  position: absolute;
  top: 50%;
  right: 0;
  display: none;
  transform: translateY(-50%);
  width: 400px;
  max-height: 800px;
  overflow-y: auto;
  padding-bottom: 70px;
  background-color: #fff;
  border: 1px solid black;
  line-height: 29px;
  font-family: "Brandon Grotesque",sans-serif;
  font-size: 16px;
  text-decoration: none;

  .red {
    background-color: rgba(255, 0, 0, 0.4) !important;
  }

  .blue {
    background-color: rgba(0, 0, 255, 0.4) !important;
  }

  .black {
    background-color: rgba(0, 0, 0, 0.4) !important;
  }

  .minicart__del-btn {
    display: inline-block;
    height: 29px;
    padding: 0 3vw;
    border: 1px solid #000;
    border-radius: 0;
    background-color: transparent;
    color: #231f20;
    line-height: 29px;
    font-family: "Brandon Grotesque",sans-serif;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
    cursor: pointer;
    transition-property: all;
    transition-duration: .3s;
    -webkit-appearance: none;
  }

  .minicart__total {
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 22px;
    border: 1px solid black;
  }

  .minicart__close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    font-size: 28px;
  }
}