.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  display: none;
  width: 20%;
  height: 20%;
  background-color: #fff;
  transform: translate(-50%,-50%);
  border: 1px solid #000;

  .close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    font-size: 28px;
  }


  p {
    color: #231f20;
    line-height: 49px;
    font-family: "Brandon Grotesque",sans-serif;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
  }
}