.product {
  font-size: 18px;

  .product__title {
    margin-bottom: 20px;
  }

  .product__price {
    margin-bottom: 20px 0;
    font-size: 28px;
  }

  .product__description {
    margin: 10px 0;
  }

  .qty-btn {
    margin: 10px 0;
    min-width: 148px;
  }

  .product__selectors {
    select {
      margin-bottom: 10px;

    }
  }

  .qty_inp {
    display: inline-block;
    max-width: 185px;
    height: 49px;
    padding: 0 3vw;

    border-radius: 0;
    background-color: transparent;
    color: #231f20;
    line-height: 49px;
    font-family: "Brandon Grotesque",sans-serif;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 1px;
    transition-property: all;
    transition-duration: .3s;
    -webkit-appearance: none;
  }

}

.no-product {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .product__selectors {
    select {
      &:last-child {
        display: none;
      }
    }
  }

  .qty-btn {
    display: none;
  }

  .qty_inp {
    display: none;

  }

  .add-to-cart {
    display: none;
  }
}

