@import "variables";
@import "fonts";
@import "typography";


body {
	position: relative;
	overflow: hidden;
}

body,button,ul,li,h2,h3,p {
	margin: 0;
	padding: 0;
}
section	{
	height: 100vh;
}
ul, li {
	list-style: none;
}

img {
	max-width: 100%;
}

button {
	border: none;
	cursor: pointer;
	outline: none;
}

