//@font-fase


@font-face {
	font-family: 'Oxygen';
	src: url(../fonts/Oxygen/oxygen-bold.ttf);
	src: url(../fonts/Oxygen/oxygen-bold.eot);
	src: url(../fonts/Oxygen/oxygen-bold.woff2);
	font-weight: bold;
	font-style: normal;	
}

@font-face {
	font-family: 'Oxygen';
	src: url(../fonts/Oxygen/oxygen-light.ttf);
	src: url(../fonts/Oxygen/oxygen-light.eot);
	src: url(../fonts/Oxygen/oxygen-light.woff2);
	font-weight: 300;
	font-style: normal;	
}

@font-face {
	font-family: 'Oxygen';
	src: url(../fonts/Oxygen/oxygen-regular.ttf);
	src: url(../fonts/Oxygen/oxygen-regular.eot);
	src: url(../fonts/Oxygen/oxygen-regular.woff2);
	font-weight: normal;
	font-style: normal;	
}

@font-face {
	font-family: 'Lato';
	src: url(../fonts/Lato/lato-regular.ttf);
	src: url(../fonts/Lato/lato-regular.eot);
	src: url(../fonts/Lato/lato-regular.woff2);
	font-weight: normal;
	font-style: normal;	
}

@font-face {
	font-family: 'Lato';
	src: url(../fonts/Lato/lato-bold.ttf);
	src: url(../fonts/Lato/lato-bold.eot);
	src: url(../fonts/Lato/lato-bold.woff2);
	font-weight: bold;
	font-style: normal;	
}

@font-face {
	font-family: 'Lato';
	src: url(../fonts/Lato/lato-light.ttf);
	src: url(../fonts/Lato/lato-light.eot);
	src: url(../fonts/Lato/lato-light.woff2);
	font-weight: 300;
	font-style: normal;	
}