//typography: base styles for fonts, p, a, standard h1, h2 ...

body {
	font-family: "Oxygen";
	font-weight: 300;
	font-style: normal;
}

a {
	text-decoration: none;
	color: black;
}



h2,h3 {
	text-align: center;
}
h2 {
	font-size: 36px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 0px;
}

h3 {
	font-weight: 300;
	font-size: 24px;
	line-height: 30px;
}


.button {
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.85px;
}


.search {

	@include placeholder {
		font-family: "Lato";
		font-weight: normal;
		font-size: 12px;
		font-style: normal;
		color: #85939f;
	}
}

.account {
	font-size: 11px;
}

.menu {

	li {
		a {
			font-size: 12px;
			text-transform: uppercase;
		}
	}
}

.mainSlider {

	.mainSlider__title {
		font-size: 60px;
	}

	.mainSlider__button {
		font-size: 12px;
	}
}

.section__description {
	font-size: 18px;
}

.stealMonth__content {
	font-size: 18px;
	line-height: 30px;
}


.latestWork {
	.slide {
		h3 {
			font-size: 14px;
		}

		.categories {
			font-size: 11px;
		}
		.likes {
			font-size: 11px;
		} 
	}
}

.superbFeature {
	h3 {
		margin: 10px 0;
		font-weight: 300;
		font-size: 24px;
	}
	p {
		font-size: 14px;
	}
}

.quote {
	.quote__title {
		font-size: 24px;
	}

	.quote__author {
		font-family: "Lato";
		font-weight: bold;
		font-size: 14px;
		font-style: normal;
	}
}

.blogPost {
	.blogPost__title {
		
		font-size: 24px;
	}	

	.blogPost__description {
		font-size: 14px;
		line-height: 20px;
	}

	.blogPost__learnmore {
		font-size: 14px;
		
	}

	.blogPost__numbersofcomments {

		span {
			font-size: 14px;
		}
	}
}

.compExp {
	.compExp__number {
		font-size: 48px;
	}

	.compExp__sometext {
		font-size: 18px;
	}
}

.tweet {
	line-height: 24px;
	font-size: 12px;
}

.follow {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

.team {
	.team__namePanel {
		font-size: 14px;
		span {
			font-size: 12px;
		}
	}

	.team__desciption {
		text-align: center;
		line-height: 24px;
		font-size: 12px;
	}

	.team__button {
		text-transform: uppercase;
	}
}

.viewFooter {
	.viewFooter__copy {
		font-size: 12px;
	}
}


