.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 20px 0;
  height: 100%;
}


.container-col {
  display: flex;
  height: 100%;

  .half-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    height: 100%;
    padding: 0 10px;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

