//$varibles color and sizes

$menucolor: #000000;
$buttoncolor: #02baab;
$hovercolor: #6d0fae;
$timecolor: #85939f;

//____ Radial progress bar_____//


$radius: 100;
$percent: 62;
$circumference: (3.14 * (2 * $radius));
$stroke_percentage: $circumference - (($percent / 100) * $circumference);